<template>
    <div class="wrapper container">   
        <b-card v-for="tool in arraytools" :key="tool.id" :title="tool.title">
            <p class="card-text">
                {{ tool.description }}
            </p>                
           <p><strong v-for="tag in tool.tags" :key="tag" > #{{ tag }} </strong> </p> 
            <b-row>
              <b-col sm="10"><b-button :href="tool.link || '#'" variant="primary">Go To Site</b-button> </b-col>
              <b-col sm="2"> <a class="btn-remove" @click.prevent="btnRemove(tool)" href="#"> <i class="fas fa-trash-alt"></i> </a> </b-col>
            </b-row>           
        </b-card>                     
    </div>
</template>
<script>
export default {
    data () {
        return {
            inputValue: '',
            tagcheckbox: '',
        }
    },
    props: ['arraytools'],
    methods: {
        btnClick () {
            this.$emit('click');
        },
        btnRemove (tool) {
            this.$emit('remove', tool);
        },
        inputSearch () {
            if (this.tagcheckbox == 'accepted') {
                this.$emit('inputTag', this.inputValue);
            } else {
                this.$emit('input', this.inputValue);
            }            
        },
        checked () {
            this.$emit('check', this.tagcheckbox);
        }
    }
};
</script>
<style lang="scss" scoped>
.wrapper {
    text-align: left;
    display: grid;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}
.card-title{
    box-sizing: border-box;
    overflow: hidden;
}
.title-tool {
    text-decoration: none;
    font-size: 1.3em;
    color: blue;
}
.btn-remove {
    text-decoration: none;
    float: right;
    color: red;
}
.my-background {
    background-color: aqua;
}
</style>
