<template>
    <div class="wrapper">
        <b-card class="card red-border" :title="cardTitle">
            <b-row class="red-border">  Are you sure you want remove {{ tool.title }} ? </b-row>
            <b-row>                 
                <div class="btn-div">
                    <b-button class="btn-action" @click="btnRemove(tool._id)" variant="danger">Remove</b-button>
                    <b-button class="btn-action" @click="btnCancel" variant="warning">Cancel</b-button>                    
                </div>
            </b-row>
        </b-card>
    </div>
</template>
<script>
export default {
    props: ['tool', 'cardTitle'] ,
    methods: {
        btnCancel () {
            this.$emit('cancel');
        },
        btnRemove (id) {
            this.$emit('remove', id);
        }
    }
};
</script>

<style lang="scss" scoped>
.wrapper {  
    width: 100%;
    box-sizing: border-box;
    .card {
        display: grid;
        grid-gap: 1em;
        grid-auto-rows: minmax(100px, auto);
    }
    .btn-div {        
        width: 100%;
    }
    .btn-action {
        float: right;
        margin-left: .6em;
        margin-right: .4em;
    }
}
</style>
