<template>
<b-navbar toggleable="md" type="dark" variant="info">

  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

  <b-navbar-brand > <router-link id="home-link" to="/">VUTTR</router-link> </b-navbar-brand>

  <b-collapse is-nav id="nav_collapse">

    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto">

      <b-nav-form @submit.prevent v-if="isLogged">
        <b-form-checkbox @checked="checked" v-model="tagcheckbox" id="checkbox1"
                        value="accepted"
                        unchecked-value="not_accepted">
        Search in tags only
        </b-form-checkbox>   
        <b-form-input  v-model="inputValue" size="sm" class="mr-sm-2" type="text" placeholder="Search"  @input="inputSearch"/>
        <b-button size="sm" class="my-2 my-sm-0" type="submit" @click="btnClick">Add Tools</b-button>
      </b-nav-form>
      <b-nav-item-dropdown right>
        <!-- Using button-content slot -->
        <template slot="button-content">
          <em> {{ userName }} </em>
        </template>        
        <b-dropdown-item  v-if="isLogged"> <a href="#" @click="doLogout"> Logout </a> </b-dropdown-item>                
        <b-dropdown-item v-else> <router-link to="/login"> Login </router-link> </b-dropdown-item>
        <b-dropdown-item> <router-link to="/about"> About  </router-link></b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>

  </b-collapse>
</b-navbar>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  data () {
      return {
        inputValue: '',
        tagcheckbox: ''
      }
  },  
  methods: {
    ...mapActions(['logout']),
    doLogout () {
      this.logout();
      this.$router.push('login')
    },
    btnClick () {
        this.$emit('click');
    },    
    inputSearch () {
        if (this.tagcheckbox == 'accepted') {
          this.$emit('inputTag', this.inputValue);
        } else {
          this.$emit('input', this.inputValue);
        }            
    },
    checked () {
        this.$emit('check', this.tagcheckbox);
    }     
  },
  computed: {
    ...mapGetters(['isLogged', 'getUser']),
    userName () {
      return this.getUser.user || 'User';
    },
  }
};
</script>
<style scoped>
#home-link {
  text-decoration: none;
  color: white;
}
</style>

