<template>
    <div class="wrapper">      
        <b-form @submit.prevent>
            <b-form-group :label-cols="2" label-size="sm" label="Tool Name" label-for="input_sm">
                <b-form-input id="input_lg" size="sm" v-model="tool.title"></b-form-input>
            </b-form-group>

            <b-form-group :label-cols="2" label-size="sm" label="Tool Link" label-for="input_sm">
                <b-form-input id="input_lg" size="sm" v-model="tool.link"></b-form-input>
            </b-form-group>

            <b-form-group :label-cols="2" label-size="sm" label="Tool Description" label-for="input_sm">
                <b-form-textarea id="textarea1" placeholder="Type your Description here" :rows="5" :max-rows="6" v-model="tool.description"> </b-form-textarea> 
            </b-form-group>         

            <b-form-group :label-cols="2" label-size="sm" label="Tags" label-for="input_sm">
                <b-form-input id="input_lg" size="sm" v-model="inputTags"></b-form-input>                
            </b-form-group>
            <b-form-group>
                <b-button class="btn btn-lg" variant="primary" @click="btnClick" >Save</b-button>
            </b-form-group>
        </b-form>
    </div>
</template>
<script>
export default {
    data () {
        return {
            tool: {},
            inputTags: '',
            tags: []
        }
    },
    methods: {
        btnClick () {
            this.tool.tags = this.inputTags.split(' ');
            this.$emit('formClick', this.tool);
        },
        pushTag () {
            this.tags = this.inputTags.split(' ');
        }
    }
};
</script>
<style lang="scss" scoped>
.wrapper {
    position: relative;
    width: 100%;
    height: 95%;
    display: grid;
    grid-gap: 1em;
    padding: 2em;
    grid-auto-rows: minmax(100px, auto);
    text-align: left;
    button {
        float: right;
        margin-top: 10px;
    }
    @media(max-width: 800px) {
        padding: 0;
    }
}
</style>


