<template>
  <transition name="modal" v-if="show">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container" :class="size">
          <div class="modal-header">
            <slot name="header">
              <h4 class="modal-title">{{ title }}</h4>
            </slot>

            <div class="panel-heading-btn">
              <a href="#" class="danger" @click="$emit('close')" ><i class="fas fa-times-circle"></i></a>
            </div>
          </div>

          <div class="modal-body">
            <slot name="body">
              default body
            </slot>
          </div>

          <div class="modal-footer" v-if="showFooter">
            <slot name="footer">
              default footer
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Modal',
    },
    size: {
      type: String,
      default: 'default-size'
    },
    showFooter: {
      type: Boolean,
      default: false,
    },
    show: {
      type: Boolean,
      default: false,
    },
  },
  data () {
    return {
    };
  },
  computed: {
  },
};
</script>
<style lang="scss" scoped>
.danger{
  color: white;
  font-size: 1.5em;
}
.modal-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2010;
  position: fixed;
  background-color: rgba(0, 0, 0, .8);
  transition: opacity .3s ease;
  .modal-wrapper {    
    height: calc(100% - 20px);
    .modal-container {
      max-width: 1920px;
      max-height: 95%;
      margin: 1rem auto;
      background-color: white;
      border-radius: 4px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
      transition: all .3s ease;
      font-family: Helvetica, Arial, sans-serif;
      position: relative;
      .modal-header {
        margin-top: 0;
        background-color: #22a6b3;
        .modal-title {
          color: white;
        }
      }
      .modal-body {
        max-height: 93%;
        background: white;  
      }
    }
  }
  @media(max-width: 800px) {
    .modal-wrapper {
      height: 100%;
      .modal-container {
        width: 92%;
        max-height: 100%;
        .modal-body {
          max-height: 93%;
        }
      }
    }
  }
}
/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
  opacity: 0;
}
.default-size {
  width: 80%;
}
.card-size {
  width: 60%;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>