<template>
  <div class="home">
    <card-tools :arraytools="arrayTools" @remove="formRemove"></card-tools>
    <modal title="+ Add New Tool" :show="show" @close="closeModal">
      <form-tool @formClick="sendTool" slot="body"></form-tool>
    </modal>
    <modal title="Remove Tool" :show="showFormRemove" @close="showFormRemove = !showFormRemove"  size="card-size">
      <Confirm slot="body" :tool="current" @cancel="showFormRemove = !showFormRemove" @remove="deleteTool" :cardTitle="current.title">
      
      </Confirm>
    </modal>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapActions, mapGetters } from 'vuex';
import CardTools from '@/components/LandingPage/CardTools.vue';
import Modal from '@/components/Shared/Modal.vue';
import FormTool from '@/components/LandingPage/Form.vue';
import Confirm from '@/components/LandingPage/ComfirmComponent.vue';
import ToolService from '@/services/ToolsService.js';
import ModelTool from '@/models/Tool.js';
export default {
  name: 'home',
  data () {
    return {
      Tool: new ModelTool(),
      showFormRemove: false,
      current: '',
    }
  },
  components: {
    CardTools,
    Modal,
    FormTool,
    Confirm,
  },
  computed: {
    ...mapGetters({
      isLoged: 'isLogged',
      arrayTools: 'loadingTools',
      show: 'getShow'
    }),
  },
  methods: {
    ...mapActions(['getTools', 'showModal', 'logout']),
    closeModal () {
      this.showModal();
    },
    formRemove (tool) {
      this.showFormRemove = true;
      this.current = tool;      
    },
    doLogaout () {
      this.logout();
      this.$router.push('login');      
    },
    async sendTool (tool) {
      try {
        await ToolService.create(tool);
        this.Tool = new ModelTool(),
        this.showModal();
        this.getTools();
      } catch (err) {
        console.log(err);
        this.doLogaout();
      }
    },
    
    // check problem when delete tools in sequence !important
    
    async deleteTool (id) {
      try {
        await ToolService.delete(id);
        this.showFormRemove = false;
         this.getTools();
      } catch (err) {
        console.log(err);
        this.doLogaout();
      }
    },
  },
  created () {        
    if(!this.isLoged) {
      this.$router.push('login')
    } else {
      this.getTools();
    }    
    
  },
}
</script>
<style lang="scss" scoped>
.home {
  padding-top: 1em;
  padding-bottom: 1em;
}
</style>