<template>
<div class="wrapper container">
  <b-card class="card-div">
    <h1> Login </h1>
    <b-form @submit.prevent>
      <b-form-group id="exampleInputGroup1"
                    label="Email address:"
                    label-for="exampleInput1"
                    description="We'll never share your email with anyone else.">
        <b-form-input id="exampleInput1"
                      type="text"
                      required
                      placeholder="Enter email"
                      v-model="user.login">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup2"
                    label="Your Password:"
                    label-for="exampleInput2">
        <b-form-input id="exampleInput2"
                      type="password"
                      required
                      placeholder="Enter password" 
                      v-model="user.password">
        </b-form-input>
      </b-form-group>
      <div class="button-grid">
        <b-button  type="submit" variant="primary" @click="sendUser">Submit</b-button>
        <b-button type="reset" variant="danger" @click="clearfields">Reset</b-button>         
      </div>
    </b-form>
    <div class="alert-div" v-if="showAlert">
      <b-alert show :variant="menssageType"> {{ message }} </b-alert>
    </div>
    
  </b-card>      

</div>
</template>
<script>
import { mapActions } from 'vuex';
export default {

  data () {
    return {
      user: {},
      showAlert: false,
      message: '',
      menssageType: ''
    }
  },
  methods: {
    ...mapActions(['login']),
    async sendUser () {
      try {
        await this.login({
          user: this.user.login,
          password: this.user.password
        })
        this.$router.push('/');
      } catch (error) {
        this.clearfields();
        if (error.response) {
          this.message = error.response.data;
          this.menssageType = 'danger';
        } else {
          this.message = 'Erro interno tente mais tarde :(';
          this.menssageType = 'warning';
        }
        this.showAlert = true;
      }
    },
    clearfields () {
      this.user = {};
    }
  }  
};
</script>

<style lang="scss" scoped>

.wrapper {
  width: 100%;
  height: 100%;
}
.card-div {
  margin: auto;
  margin-top: 1em;
  text-align: left;
  padding: 1em;
}
.button-grid {
  button {
    margin-right: 5px;
  }
}
.alert-div {
  margin-top: .5em;
}
</style>
