<template>
  <div id="app">
<!--    <div id="nav">

      <div>
        <router-link to="/">Home</router-link> |
        <router-link to="/about">About</router-link>        
      </div>
    </div>
-->
    <custom-header @input="search" @inputTag="checketTag" @click="toggle"> </custom-header>         
      <router-view/>
      
  </div>
</template>
<script>
import { mapActions } from 'vuex';
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import CustomHeader from '@/components/LandingPage/CustomHeader.vue';
export default {
  components: {
    CustomHeader,
  },
  methods: {
   ...mapActions(['getTools','searchTag', 'searchTools', 'showModal']),
    checketTag (tag) {
        this.searchTag(tag);
    },
    search (value) {
        this.searchTools(value);
    },
    toggle () {
      this.showModal();
    }
  },  
  
}
</script>


<style lang="scss">
@import '~@fortawesome/fontawesome-free/css/all.min.css';
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
